.row
  .col-xs-10
    - @admin_projects.each do |admin_project|
      = render "admin_project", :admin_project => admin_project
      -# = admin_project

  .col-xs-2
    -# - form
    -#   = "#{developer.username} #{link_to 'Add to a project',  "
