.container
  .row
    .col-md-1
    .col-md-8
      %h3 Welcome to TimeTrackr
      %p You have ventured upon this page because someone sent you a link, eh?
      %p If you are a returning developer, please log in to the right.
      %p If you are visiting us for the first time, please click on the 
    .col-md-3
      -# = render partial
