.container
  .row
    .col-md-9
      %h3 Welcome to TimeTrackr
      %p.well.copy This is the place where Developers track project time. If you are visiting us for the first time and would like to be added to our current Developer database, please click on the create new button to the bottom right.
      %h4 Returning Administrators and Developers
      %p.well.copy Please log in over to the right.
    .col-md-3
      .well.loginform
        = render 'users/login'
      .well.createuser
        %p New Developers create a user profile by clicking on the button below.
        = link_to "Create Profile", 'users/new', class: "btn btn-default"
