<h2><%= @user.username %></h2>
<p>You have been assigned to the project <%="#{@project_title}"%> by <%= @admin.username %>, you can contact them at <%= @admin.email %></p>
<p>You will find this new project has been added to your dashboard</p>
<hr>
<h3>TimeTracker</h3>
