<h2><%= @user.username %></h2>
<p>You have been assigned to a new project by <%= @user2.username %>, you can contact them at <%= @user2.email %></p>
<p>You will find this new project has been added to your dashboard</p>
<hr>
<h3>TimeTracker</h3>
