@import "bootstrap-sprockets";
@import "bootstrap";


.add_user_sidebar{
  background-color: grey;
}

.text-white{
  color:white;
}

label{
  margin-top: 10px;
}

select{
  text-overflow:ellipsis;
  width: 200px;
}

.line-above {
  border-top: 4px solid white;
  margin-top: 10px;
}

.red-text{
  color:red;
}

.admin-wells{
  height: 290px;
  overflow: scroll;
}

.div-height {
  height:310px;
}

.extra-large-btn{
  width: 250px;
  height: 80px;
  background-color: #337AB7;
  font-family: helvetica;
  font-size: 20px;
}

.red-wells{
  background-color: red;
}
