/*for padding required for fixed navbar*/
body {
  padding-top: 140px;
  background-color: #D6F8D6;
}

/*background color for navbar*/
.navbar {
  background-color: #63BF74;
}

/*style changes for fonts*/

a {
  color: darkgreen;
}

a:hover {
  text-decoration: none;
  color: whitesmoke;
}
